## Mongodb testing and learning

In [1]:
import pymongo

In [2]:

client = pymongo.MongoClient("mongodb+srv://hardik:hardik@firstcluster.zkbe8zb.mongodb.net/?retryWrites=true&w=majority")
client

MongoClient(host=['ac-aepvjvm-shard-00-01.zkbe8zb.mongodb.net:27017', 'ac-aepvjvm-shard-00-02.zkbe8zb.mongodb.net:27017', 'ac-aepvjvm-shard-00-00.zkbe8zb.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-gkyadt-shard-0', ssl=True)

In [3]:
# create database
db_1 = client["hardikcode"]

In [4]:
client.list_database_names()

['admin', 'local']

In [8]:
#  insert single record


record = {'companyName': "algo8",
        'product':'AI',
        'how':'pagal bna k',
        'name':["Hardik","Shivam","Bramhesh"],
        "record_dict":{'name':"himanshu","mail_id":"himanshu@algo8.ai","ph_mo":9911750445}}
# create / use collection in database 
collection = db_1["test"]
# insert record in collection
collection.insert_one(record)

In [9]:
# insert multiple record
list_of_record = [
                {'companyName': "algo8new",
                'product':'AI',
                'how':'pagal bna k'},
                {'companyName': "algo8new2",
                'product':'AI',
                'asdasd':'pagal bna k'},
                {'companyName': "algo8new3",
                'product':'AI2',
                'howasd':'pagal bna k'}
                    ]
rec = collection.insert_many(list_of_record)

In [14]:
#  fetch ids of record we have pushed
inserted_idscheck = rec.inserted_ids

for ids, unique_ids in enumerate(inserted_idscheck):
    print(f"{ids}. {unique_ids}")

0. 6353056f3dce0dd6d4abb760
1. 6353056f3dce0dd6d4abb761
2. 6353056f3dce0dd6d4abb762

In [17]:
# we can also send ids from our side so that monodb don't have to create id
# _id is used by mongodb and we can create our own ids. _id is always unique
list_of_record = [
                {'_id':4,
                'companyName': "algo8new",
                'product':'AI',
                'how':'pagal bna k'},
                {'_id':5,
                'companyName': "algo8new2",
                'product':'AI',
                'asdasd':'pagal bna k'},
                {'_id':6,
                'companyName': "algo8new3",
                'product':'AI2',
                'howasd':'pagal bna k'}
                    ]
rec = collection.insert_many(list_of_record)

In [20]:
# get single record from database
collection.find_one()

{'_id': ObjectId('6352ffa93dce0dd6d4abb75d'),
 'companyName': 'algo8',
 'product': 'AI',
 'how': 'pagal bna k'}

In [24]:
# fetch all record and iterate over all records
all_records_fetch = collection.find()
for idx, record in enumerate(all_records_fetch):
    print(f"{idx}. {record}")

0. {'_id': ObjectId('6352ffa93dce0dd6d4abb75d'), 'companyName': 'algo8', 'product': 'AI', 'how': 'pagal bna k'}
1. {'_id': ObjectId('635303563dce0dd6d4abb75e'), 'companyName': 'algo8', 'product': 'AI', 'how': 'pagal bna k', 'name': ['Hardik', 'Shivam', 'Bramhesh']}
2. {'_id': ObjectId('635303e93dce0dd6d4abb75f'), 'companyName': 'algo8', 'product': 'AI', 'how': 'pagal bna k', 'name': ['Hardik', 'Shivam', 'Bramhesh'], 'record_dict': {'name': 'himanshu', 'mail_id': 'himanshu@algo8.ai', 'ph_mo': 9911750445}}
3. {'_id': ObjectId('6353056f3dce0dd6d4abb760'), 'companyName': 'algo8new', 'product': 'AI', 'how': 'pagal bna k'}
4. {'_id': ObjectId('6353056f3dce0dd6d4abb761'), 'companyName': 'algo8new2', 'product': 'AI', 'asdasd': 'pagal bna k'}
5. {'_id': ObjectId('6353056f3dce0dd6d4abb762'), 'companyName': 'algo8new3', 'product': 'AI2', 'howasd': 'pagal bna k'}
6. {'_id': 1, 'companyName': 'algo8new', 'product': 'AI', 'how': 'pagal bna k'}
7. {'_id': 2, 'companyName': 'algo8new2', 'product': 'AI', 'asdasd': 'pagal bna k'}
8. {'_id': 3, 'companyName': 'algo8new3', 'product': 'AI2', 'howasd': 'pagal bna k'}
9. {'_id': 4, 'companyName': 'algo8new', 'product': 'AI', 'how': 'pagal bna k'}
10. {'_id': 5, 'companyName': 'algo8new2', 'product': 'AI', 'asdasd': 'pagal bna k'}
11. {'_id': 6, 'companyName': 'algo8new3', 'product': 'AI2', 'howasd': 'pagal bna k'}

In [31]:
# query or filter out data in mongodb
# query is basically where condition in sql
query = {"_id": 1}

result = collection.find(query)
for data in result:
    print(data)

{'_id': 1, 'companyName': 'algo8new', 'product': 'AI', 'how': 'pagal bna k'}

In [43]:
query2 = {"_id":{"$gt":1}}
result = collection.find(query2)
for data in result:
    print(data)

{'_id': 2, 'companyName': 'algo8new2', 'product': 'AI', 'asdasd': 'pagal bna k'}
{'_id': 3, 'companyName': 'algo85000', 'product': 'AI2', 'howasd': 'pagal bna k'}
{'_id': 4, 'companyName': 'algo8new', 'product': 'AI', 'how': 'pagal bna k'}
{'_id': 5, 'companyName': 'algo8new2', 'product': 'AI', 'asdasd': 'pagal bna k'}

In [35]:
# delete one or many documents
query_del = {"_id":6}
collection.delete_one(query_del) # delete_many(query) for many record deletion

In [ ]:
#  drop all collection
collection.drop()

In [42]:
#  update id / records
present_data = {"companyName":"algo8new3"}
new_data = {"$set":{"companyName":"algo85000"}}
# update single records
collection.update_one(present_data,new_data)